{{- $ext := default (dict "enabled" false "name" "") .Values.externalJwtSecret -}}
{{- if not $ext.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-jwt-secret" (include "docker-homework-app.fullname" .) }}
  labels:
    {{- include "docker-homework-app.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: docker-homework-app
    app.kubernetes.io/component: security
type: Opaque
stringData:
  Jwt__Issuer: {{ .Values.jwt.issuer | quote }}
  Jwt__Audience: {{ .Values.jwt.audience | quote }}
  Jwt__AccessTokenMinutes: {{ .Values.jwt.accessTokenMinutes | quote }}
  Jwt__Secret: {{ default (randAlphaNum 64) .Values.jwt.secret | quote }}
{{- end }}