{{- $su := .Values.pg.superuser | default dict -}}
{{- if ($su.createSecret | default false) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $su.secretName | default (printf "%s-pg-root" (include "docker-homework-app.fullname" .)) }}
  labels:
    {{- include "docker-homework-app.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: docker-homework-app
    app.kubernetes.io/component: database
type: Opaque
stringData:
  {{ $su.passwordKey | default "password" }}: {{ $su.password | default "" | quote }}
{{- end }}