{{- $app := .Values.pg.app | default dict -}}
{{- if ($app.createSecret | default true) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $app.secretName | default (printf "%s-pg-secret" (include "docker-homework-app.fullname" .)) }}
  labels:
    {{- include "docker-homework-app.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: docker-homework-app
    app.kubernetes.io/component: database
type: Opaque
stringData:
  DbSettings__Host:     {{ .Values.pg.config.host | quote }}
  DbSettings__Port:     "{{ .Values.pg.config.port }}"
  DbSettings__Database: {{ .Values.pg.config.database | quote }}
  DbSettings__Username: {{ $app.username | quote }}
  DbSettings__Password: {{ $app.password | default "" | quote }}
{{- end }}