replicaCount: 2

image:
  repository: idoping/dockerhomeworkapp
  tag: 1.0.4
  pullPolicy: Always

containerPort: 8000

probes:
  path: /health

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 250m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

serviceAccount:
  create: true
  name: ""

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: arch.homework
      paths:
        - path: /auth
          pathType: Prefix
          serviceName: docker-homework-app
          servicePort: 80
        - path: /orders
          pathType: Prefix
          serviceName: order-service
          servicePort: 80
        - path: /billing
          pathType: Prefix
          serviceName: billing-service
          servicePort: 80
        - path: /notifications
          pathType: Prefix
          serviceName: notification-service
          servicePort: 80
        - path: /warehouse
          pathType: Prefix
          serviceName: warehouse-service
          servicePort: 80
        - path: /delivery
          pathType: Prefix
          serviceName: delivery-service
          servicePort: 80
  tls: []

pg:
  config:
    host: my-postgres-postgresql.pg.svc.cluster.local
    port: 5432
    database: users

  app:
    username: iDoping
    password: Qzwxec123
    createSecret: true
    secretName: docker-homework-app-pg-secret

  superuser:
    username: postgres
    password: Qzwxec123
    createSecret: true
    secretName: docker-homework-app-pg-root
    passwordKey: password

  services:
    order:         { database: orders,         username: order_service,         password: Qzwxec123 }
    billing:       { database: billing,        username: billing_service,       password: Qzwxec123 }
    notifications: { database: notifications,  username: notification_service,  password: Qzwxec123 }
    warehouse:     { database: warehouse,      username: warehouse_service,     password: Qzwxec123 }
    delivery:      { database: delivery,       username: delivery_service,      password: Qzwxec123 }

monitoring:
  appMetrics:
    enabled: true
    path: /metrics
    portName: http

  pgExporter:
    enabled: true
    replicaCount: 1
    image:
      repository: prometheuscommunity/postgres-exporter
      tag: v0.16.0
    service:
      port: 9187
      targetPort: 9187
      name: http-metrics
    secret:
      username: exporter
      password: Qzwxec123

  serviceMonitor:
    enabled: true
    labels:
      release: monitoring
    interval: 15s

jwt:
  issuer: DockerHomeWorkApp
  audience: DockerHomeWorkApp
  accessTokenMinutes: 60
  secret: ""

externalJwtSecret:
  enabled: false
  name: ""

orderService:
  enabled: true
  replicaCount: 1
  image: { repository: idoping/orderservice, tag: 1.0.3, pullPolicy: Always }
  containerPort: 8001

billingService:
  enabled: true
  replicaCount: 1
  image: { repository: idoping/billingservice, tag: 1.0.1, pullPolicy: Always }
  containerPort: 8002

notificationService:
  enabled: true
  replicaCount: 1
  image: { repository: idoping/notificationservice, tag: 1.0.1, pullPolicy: Always }
  containerPort: 8003

warehouseService:
  enabled: true
  replicaCount: 1
  image: { repository: idoping/warehouseservice, tag: 1.0.1, pullPolicy: Always }
  containerPort: 8004

deliveryService:
  enabled: true
  replicaCount: 1
  image: { repository: idoping/deliveryservice, tag: 1.0.1, pullPolicy: Always }
  containerPort: 8005
